/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.success-snackbar {
  background: #4CAF50;
  color: white;
}

.error-snackbar {
  background: #F44336;
  color: white;
}

.warning-snackbar {
  background: #FFC107;
  color: black;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 96px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
}

.logo-wrapper img {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.p-md {
  margin: 2rem 0 -1rem 0;
}